@font-face {
    font-family: 'Agency FB';
    src: url('../fonts/agencyfb_bold.ttf');
}

.background{
	-fx-background-image: url("../images/BackgroundPhoto2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.background1{
 	-fx-background-image: url("../images/BackgroundPhoto1.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
 }

.background2{
 	-fx-background-image: url("../images/BackgroundPhoto2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
 }

.background3{
 	-fx-background-image: url("../images/BackgroundPhoto3.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
 }

.background4{
 	-fx-background-image: url("../images/BackgroundPhoto4.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
 }

.background5{
 	-fx-background-image: url("../images/BackgroundPhoto5.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
 }

.background6{
 	-fx-background-image: url("../images/BackgroundPhoto6.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
 }

.background7{
 	-fx-background-image: url("../images/BackgroundPhoto7.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
 }

.basicFont{
	-fx-font-family: 'Agency FB';
    -fx-font-size: 20px;
}

.settingsFont{
	-fx-font-family: 'Agency FB';
	-fx-font-weight: bold;
    -fx-font-size: 40px;
}

.settingsFont .text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.settingsSlider .track{
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.basicSmallFont{
	-fx-font-family: 'Agency FB';
    -fx-font-size: 12px;
}

.errorMessage{
	-fx-font-family: 'Agency FB';
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: red;
}

.indicatorMessage{
	-fx-font-family: 'Agency FB';
    -fx-font-size: 20px;
    -fx-text-stretch: white;
}

.textEntryBox{
	-fx-font-family: 'Agency FB';
    -fx-font-size: 20px;
    -fx-text-stretch: black;
    -fx-alignment: center;
}

.smallTextEntryBox{
	-fx-font-family: 'Agency FB';
    -fx-font-size: 12px;
    -fx-text-stretch: black;
}

.titleIndicator{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Title.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 450 125;
    -fx-background-position: center center;
}

.findGameButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/FindGame.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 50;
    -fx-background-position: center center;
}

.findGameButton:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/FindGameHighlighted.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 50;
    -fx-background-position: center center;
}

.playAIButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/PlayAI.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 142 50;
    -fx-background-position: center center;
}

.playAIButton:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/PlayAIHighlighted.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 142 50;
    -fx-background-position: center center;
}

.backButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Back.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 103 50;
    -fx-background-position: center center;
}

.backButton:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/BackHighlighted.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 103 50;
    -fx-background-position: center center;
}

.cancelButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Cancel.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 145 50;
    -fx-background-position: center center;
}

.cancelButton:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/CancelHighlighted.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 145 50;
    -fx-background-position: center center;
}

.customGameButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/CustomGame.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 270 50;
    -fx-background-position: center center;
}

.customGameButton:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/CustomGameHighlighted.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 270 50;
    -fx-background-position: center center;
}

.settingsButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Settings.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 179 50;
    -fx-background-position: center center;
}

.settingsButton:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/SettingsHighlighted.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 179 50;
    -fx-background-position: center center;
}

.level1Indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Level1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 75;
    -fx-background-position: center center;
}

.level2Indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Level2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 75;
    -fx-background-position: center center;
}

.level3Indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Level3.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 75;
    -fx-background-position: center center;
}

.level4Indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Level4.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 75;
    -fx-background-position: center center;
}

.level5Indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Level5.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 75;
    -fx-background-position: center center;
}

.level6Indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Level6.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 75;
    -fx-background-position: center center;
}

.level7Indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Level7.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 75;
    -fx-background-position: center center;
}

.level8Indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Level8.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 75;
    -fx-background-position: center center;
}

.level9Indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Level9.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 75;
    -fx-background-position: center center;
}

.level10Indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Level10.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200 75;
    -fx-background-position: center center;
}

.subcategoryIndicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Subcategory.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50 125;
    -fx-background-position: center center;
}

.startButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Start.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 121 50;
    -fx-background-position: center center;
}

.startButton:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/StartHighlighted.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 121 50;
    -fx-background-position: center center;
}

.joinButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/Join.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 89 50;
    -fx-background-position: center center;
}

.joinButton:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/JoinHighlighted.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 89 50;
    -fx-background-position: center center;
}

.loginButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/LoginButton.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 110 50;
    -fx-background-position: center center;
}

.loginButton:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

 	-fx-background-image: url("../images/LoginButtonHighlighted.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 110 50;
    -fx-background-position: center center;
}

.button{
	-fx-font-family: 'Agency FB';
    -fx-font-size: 20px;
    -fx-text-stretch: black;
}

/*.button{
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-color: pink;
}*/